body {
    padding-top: 75px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1, h2, h3, h4, h5, .navbar-brand{
    font-family: 'Lora', serif;
}

hr {
    border: none;
    height: 2px;
    background: #FFFFFF;
}

iframe {
    height: 90vh;
    width: 66vw;
}

.showcase-img {
    object-position: top;
    object-fit: cover;
}

.fluid-circle {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 600px;        
}

.bg-garden {
    background-color: #1B3322 !important;
}

.gallery-link {
    visibility: hidden;
}

#logo {
    height: 2em;
    width: 2em;
}